

<div class="Container">

<div class="SubContainer" @onkeydown="Move" tabindex="0">
        @if (Movement == false)
        {
            
        <div class="Cube" style="@CubeStyle">
                <img src="/css/img/oursBgC.png" style="width: 3vh; height: 3vh;" />
            </div>
        }
        else
        {
            <div class="Cube" style="@CubeStyle">
                <img src="/css/img/ours2BgC.png" style="width: 3vh; height: 3vh;" />
            </div>
        }

    <div class="CubeGen" style="@GenCube">
            <img src=@ImageDeMonstre style="width: 3vh; height: 3vh;" />
    </div>


</div>
<div class="ContainerText">
        <p class="Text" style="@LeChoixDuCombatStyle">@EvenText</p>
    <div style=@LeChoixDuCombatStyle>
            <button @onclick="LeChoixDuCombatAccept">Au combat !</button>
            <button @onclick="LeChoixDuCombatRefused">Fuyons !</button>
    </div>
        <div style="@ChoixDuCombatBtnStyleOui">@ReponseDuChoix</div>
        
       

    </div>
</div>
